<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Accounts</title>
</head>
<body style="background: peachpuff;margin: 100px;border: black solid 2px;padding: 40px">
<h2>Hello Welcome to the Loan Portal!</h2>
<h3>
    For loan details: URL/loan/accountHolderName <br>
    <b> EXAMPLES (Use Postman or any application to test the api) :<br></b>
    GET: URL/Jeremy <br>
    POST: URL/Amy?amount=39000&duration=350 <br>
    PUT: URL/Jeremy?amount=39000&duration=350 <br>
    DELETE: URL/Joel <br>
    
    Download Postman app here : <a>https://www.getpostman.com/downloads/</a>
</h3>
</body>
</html>
