<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Accounts</title>
</head>
<body style="background: peachpuff;margin: 100px;border: black solid 2px;padding: 40px">
<h2>Hello Welcome to the Loan Portal!</h2>
<h3>
    For loan details: URL/loan/accountHolderName <br>
    <b> EXAMPLES :<br></b>
    GET: <a> http://127.0.0.1:5000/Jeremy </a> <br>
    POST: <a>http://127.0.0.1:5000/Amy?amount=39000&duration=350 <a> <br>
    PUT: <a>http://127.0.0.1:5000/Jeremy?amount=39000&duration=350 </a> <br>
    DELETE: <a> http://127.0.0.1:5000/Joel</a><br>
</h3>
</body>
</html>